:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #fefcf3;
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
}

.app-viewer-host {
  width: 100%;
  height: 100%;
}
